.certificate-container{
    width: 800px;
    height:500px;
    margin: 50px auto;
    background: url("../Assets/img/CertificateBackground.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative; 
}

.start-elements {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%); 
    text-align: center;
}
.cert-title{
    font-size: 35px;
}

.cert-winner{
    margin-top: 15px;
    font-size: 40px;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #000;
    width: 400px;
    color: #005c89;
}
.cert-descrip{
    font-size: 13px;
    margin-top: 25px;
    width: 100%;
    line-height: 1.3rem;
}

.cert-footer{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    margin-top: 40px;
    
    font-size: 13px;
    

}

.best-leader{
    margin-left: -85px;
    
}
.advisor{
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 5px;
}
.advisor-name{
    margin-top: 5px;
}
.date-header{
    padding: 5px;
    border-bottom: 1px solid #000;
}
.cert-date{
    width: 150px;
    margin-right: -50px;
    
}
#date{
    margin-top: 5px;
}